@import url('https://fonts.googleapis.com/css?family=Raleway|Vollkorn+SC&display=swap');

.Home{
        background-image: url('./frontbackground.png');
        background-size: cover;
        min-height: 100vh;
        font-family: 'Raleway', sans-serif;
        color: #F2EFE5;
}

body{
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
  
.frontText{
    position: relative;
    top: -30%;
    right: -10%;
}
  
.frontHead{
    font-size: 7em;
}
  
.frontSub{
    position: relative;
    font-size: 2em;
    margin-top: 20px;
  }

  #Loginbutton {
    text-decoration: none;
    color: white;
  }

  #username {
    position: fixed;
  top: 20%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  }

  #fullname {
    position: fixed;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  #email {
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  #password {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }