@import url('https://fonts.googleapis.com/css?family=Raleway|Vollkorn+SC&display=swap');

.Home{
        background-image: url('./Images/frontbackground.png');
        background-size: cover;
        min-height: 100vh;
        font-family: 'Raleway', sans-serif;
        color: #F2EFE5;
        width: 100%;
}

.Goals{
    background-color: #f2efe5;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: #39827a;
}

.Trip{
    background-color: #f2efe5;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: #39827a;
}

body{
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
  
.frontText{
    position: relative;
    top: 150px;
    right: -80px;
}
  
.frontHead{
    font-size: 7em;
}
  
.frontSub{
    position: relative;
    font-size: 2em;
    margin-top: 5px;
    margin-left: 5px;
  }

  #Loginbutton {
    text-decoration: none;
    color: white;
  }

  .auth{
    background-color: #f2efe5;
    padding-bottom: 30px;
  }

  .nav-link{
    font-family: 'Raleway', sans-serif;
    padding-left: 0.5em;
  }

  .goalHead{
    font-size: 2em !important;
  }

  .goalSub{
    font-size: 0.7em;
    color: mediumturquoise;
  }

  .dataTitle{
    padding: 3%;
    font-size: 5em !important;
  }


  .col-list .col-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 20px;
}
  
  .authcontainer2 {
    background-color: #f2efe5;
    color: #F2EFE5;
  }

  a.nav-link {
    font-size: 130%;
    margin-right: 1%;
    color: white;
    text-decoration: none;
}

.makeStyles-root-1 {
  margin: 0%;
  height: 90%;
}


img {
  margin-top: 1.5%;
}


.parent-wrapper {
  height: 100%;
  min-width: 100%;
  text-align: center;
  display: inline-block;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  
}
.child {
  display: inline-block;
  margin: 10px 0 0 10px;
  flex-grow: 1;
  height: 100px;
}

.miniTitle{
  margin-bottom: 5px;
  font-size: 1.7em;
}
